# docker-compose.yml
x-laravel-base: &laravel-base
  build:
    context: ./laravel-project
    dockerfile: Dockerfile
  working_dir: /var/www/html
  volumes:
    - ./laravel-project:/var/www/html
    - laravel_vendor:/var/www/html/vendor
  env_file:
    - ./laravel-project/.env
  depends_on:
    mysql:
      condition: service_healthy
    rabbitmq:
      condition: service_healthy
  networks:
    - balance
  restart: unless-stopped

services:
  mysql:
    image: mysql:8.0
    container_name: balance-mysql
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: laravel
      MYSQL_DATABASE: laravel_db
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - balance

  mysql-go:
    image: mysql:8.0
    container_name: balance-mysql-go
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3308:3306"
    environment:
      MYSQL_ROOT_PASSWORD: go
      MYSQL_DATABASE: go_db
      MYSQL_USER: go
      MYSQL_PASSWORD: go
    volumes:
      - mysql_go_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - balance

  rabbitmq:
    image: rabbitmq:3.12-management-alpine
    container_name: balance-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: balance
      RABBITMQ_DEFAULT_PASS: balance
    ports:
      - "15672:15672" # UI dev
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - balance

  laravel-balance-scheduler:
    <<: *laravel-base
    container_name: balance-laravel-scheduler
    command: php artisan schedule:work
    depends_on:
      mysql:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  laravel-worker:
    <<: *laravel-base
    container_name: balance-laravel-worker
    environment:
      QUEUE_CONNECTION: database
    command: php artisan queue:work --sleep=1 --tries=3 --timeout=60 --max-jobs=1000
    depends_on:
      mysql:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  go-worker:
    build:
      context: ./go-project
      dockerfile: Dockerfile
    container_name: balance-go-worker
    env_file:
      - ./go-project/.env
    depends_on:
      mysql-go:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - balance
    restart: unless-stopped

volumes:
  mysql_data:
  mysql_go_data:
  rabbitmq_data:
  laravel_vendor:

networks:
  balance:
    driver: bridge
