# docker-compose.yml
x-laravel-base: &laravel-base
  build:
    context: ./
    dockerfile: Dockerfile
  working_dir: /var/www/html
  volumes:
    - ./:/var/www/html
  environment:
    DB_CONNECTION: mysql
    DB_HOST: mysql
    DB_PORT: 3306
    DB_DATABASE: laravel_db
    DB_USERNAME: laravel
    DB_PASSWORD: laravel
  depends_on:
    mysql:
      condition: service_healthy
    rabbitmq:
      condition: service_healthy
  networks:
    - balance
  restart: unless-stopped

services:
  mysql:
    image: mysql:8.0
    container_name: balance-mysql
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel_db
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/init:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - balance

  rabbitmq:
    image: rabbitmq:3.12-management-alpine
    container_name: balance-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: balance
      RABBITMQ_DEFAULT_PASS: balance
    ports:
      - "15672:15672" # UI dev
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - balance

  laravel-balance-scheduler:
    <<: *laravel-base
    container_name: balance-laravel-scheduler
    command: php artisan schedule:work

  laravel-worker:
    <<: *laravel-base
    container_name: balance-laravel-worker
    environment:
      QUEUE_CONNECTION: database
    command: php artisan queue:work --sleep=1 --tries=3 --timeout=60 --max-jobs=1000

  go-worker:
   build:
     context: ./go-service
     dockerfile: Dockerfile
   container_name: balance-go-worker
   environment:
     DB_HOST: mysql
     DB_PORT: 3306
     DB_USER: go
     DB_PASSWORD: go
     DB_NAME: go_db
     RABBITMQ_HOST: rabbitmq
     RABBITMQ_PORT: 5672
     RABBITMQ_USER: balance
     RABBITMQ_PASSWORD: balance
     RABBITMQ_VHOST: /
     RABBITMQ_QUEUE: balance_updates
     RABBITMQ_PREFETCH: 50
     RABBITMQ_WORKERS: 5
     BATCH_SIZE: 100
     BATCH_INTERVAL_SECONDS: 5
     SYNC_INTERVAL_SECONDS: 30
     SYNC_BATCH_SIZE: 1000
   depends_on:
     mysql:
       condition: service_healthy
     rabbitmq:
       condition: service_healthy
   restart: unless-stopped
   networks:
     - balance

volumes:
  mysql_data:
  rabbitmq_data:

networks:
  balance:
    driver: bridge
